@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Exo, sans-serif;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body,
html {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background: linear-gradient(-45deg, #072227, #35858B, #00ADB5, #EEEEEE);
    background-size: 300% 200%;
    animation: colors 15s ease-in infinite;
}

.home {
    position: relative;
    min-height: calc(100vh - 60px);
    margin: 15px;
    border-radius: 20px;
    color: #000;
}

header {
    display: flex;
    width: 100vw; 
    background-size: 300% 200%;
    border-radius: 20px;
    margin-top: 55px;
    color: #000;
    animation: colors 15s ease-in infinite;
}

.home>h2 {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: xx-large;
    color: #000;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ffffff;
}

.home-card-create {
    background: #cccbcb;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
    width: 315px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 10px 5px 5px #000;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.home-card-create:hover {
    transform: scale(1.1);
}


.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

@media (max-width: 350px) {
    .home-container {
        justify-content: unset;
    }
}

.camisa-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
    .camisa-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px) {
    .camisa-list {
        grid-template-columns: 1fr;
    }
}

.camisa-card-item,
.camisa-list-item {
    background: #cccbcb;
    border-radius: 10px;
    padding: 10px;
    width: 315px;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 5px 5px #000;
}

.camisa-card-item:hover,
.camisa-list-item:hover {
    transform: scale(1.1);
}

.camisa-card-item {
    margin: 20px 0;
    width: 315px;
}

@media (max-width: 375px) {

    .camisa-card-item,
    .camisa-list-item,
    .home-card-create {
        height: 180px;
        width: 315px;
    }

    footer p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: large;
        font-weight: 600;
    }
}

@media (max-width: 420px) {
    footer p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: large;
        font-weight: 600;
    }
}

.camisa-card-item>div,
.camisa-list-item>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.camisa-card-item-modelo,
.camisa-list-item-modelo {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
    text-shadow: 2px 2px 2px #fff;
}

.camisa-card-item-descricao,
.camisa-list-item-descricao {
    font-size: 0.85em;
    list-style: none;
}

.camisa-card-item-preco,
.camisa-list-item-preco {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000;
}

.camisa-list-item-foto,
.camisa-card-item-foto {
    height: 180px;
    margin-right: -60px;
}

#search-input {
    padding: 0.5rem;
    width: 315px;
    border: none;
    border: 2px solid #fff;
    border-radius: .2rem;
    font-size: 1rem;
    outline: none;
}

.search-button {
    background-color: transparent;
    border: 2px solid #000000;
    padding: 0.5rem;
    color: #000000;
    font-weight: 550;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.search-button:hover {
    background-color: #06767c;
    color: #ffffff;
}

.default-button {
    background-color: transparent;
    border: 2px solid #000000;
    padding: 0.4rem;
    color: #000000;
    font-weight: 550;
    border-radius: 0.2rem;
    width: 315px;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    text-shadow: 2px 2px 2px #fff;
}

.default-button:hover {
    background-color: #06767c;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000;
}

.header {
    max-width: 1110px;
    margin: 10px auto 25px auto;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 35px 0;

}

.Logo {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff4d;
    gap: 20px;
    width: 340px;
    height: 45px;
}

.logo-title {
    position: absolute;
    left: 65px;
    font-weight: 700;
    font-size: 2.2rem;
    text-shadow: 2px 2px 2px #ffffff;

}

.logo-icon {
    position: absolute;
    left: -10px;
    top: -6px;
    filter: invert(1);
}


@media (max-width: 1220px) {
    .header {
        margin: 10px auto 25px auto;
        max-width: 840px;
    }
}

@media (max-width: 840px) {
    .header {
        margin: 10px auto 25px auto;
        max-width: 360px;
    }
}

@media (max-width: 400px) {
    .header {
        margin: 10px auto 25px auto;
        max-width: 320px;
    }

    .row {
        column-gap: 20px;
    }

    .logo-title {
        font-size: 1.5em;
    }
}

.modal-overlay {
    background-color: #00000050;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal {
    margin: 1rem;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    background-color: #fff;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(farthest-corner at 40px 40px,
            #04857a 60%,
            #202026 100%);
    padding: 1rem;
}

.close-modal {
    color: #000;
    font-size: 1.5rem;
    transform: scale(0.8);
    font-weight: 550;
    cursor: pointer;
}

.close-modal:hover {
    transform: scale(1);

}

.modal-body {
    padding: .5rem 1rem;
    background: linear-gradient(-45deg, #222831, #393E46, #00ADB5, #EEEEEE);
    background-size: 200% 100%;
}

.modal-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body form input,
textarea {
    width: 100%;
    padding: .5rem;
    font-size: .8rem;
    outline: none;
    border: solid 1.5px #202026;
    margin-bottom: .4rem;
    border-radius: .3rem;
}

.modal-body form button {
    padding: .5rem;
    width: 30%;
    font-size: 1rem;
    background-color: transparent;
    color: #000000;
    border: solid 1.5px #000000;
    border-radius: .3rem;
    cursor: pointer;
    font-weight: 550;
}

.modal-body form button:hover {
    background-color: #06767c;
    color: #fff;
}

.button-modal-create {
    display: flex;
    justify-content: flex-end;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
    max-width: 1110px;
}

.msg-alert {
    text-align: center;
    z-index: 1;
    font-weight: 600;
}

.success {
    background-color: #a4ffa4;
    color: #006905;
    border: solid 1px #006905;
    padding: 0.8rem;
    border-radius: 0.3rem;
}

.danger {
    background-color: #ffa4a4;
    color: #690000;
    border: solid 1px #690000;
    padding: 0.8rem;
    border-radius: 0.3rem;
}


.actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: .5rem;
}

.btn {
    color: #fff;
    border-radius: .3rem;
    padding: .5rem;
    max-width: 280px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
}

.actions-edit {
    color: #09097c;
    border: solid 1.5px #09097c;
    background-color: transparent;
}

.actions-edit:hover {
    color: #fff;
    background-color: #09097c;
}

.actions-delete {
    color: #770909;
    border: solid 1.5px #770909;
    background-color: transparent;
}

.actions-delete:hover {
    color: #fff;
    background-color: #770909;
}

.modal-body-delete {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    background: linear-gradient(-45deg, #222831, #393E46, #00ADB5, #EEEEEE);
    background-size: 200% 100%;
}

.modal-body-delete p {
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.btns-delete {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-delete {
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    width: 30%;
    height: 50%;
    cursor: pointer;
}

.btn-delete-no {
    color: #770909;
    border: solid 1.5px #770909;
}

.btn-delete-no:hover {
    color: #fff;
    background-color: #770909;
}

.btn-delete-yes {
    color: #09097c;
    border: solid 1.5px #09097c;

}

.btn-delete-yes:hover {
    color: #fff;
    background-color: #09097c;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    font-size: large;
    position: absolute;
    width: 100%;
    min-height: 60px;
    border-radius: 20px;
    color: #000;
    box-shadow: 0px 0px 15px #0000004d;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.search-space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.menu-icon {
    filter: invert(0);
    cursor: pointer;
}

.menu-icon:hover {
    filter: invert(1);
}

nav.menu-items {
    display: flex;
    justify-content: center;
    background: #393E46;
    width: 25vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    text-align: center;
}

#top-init {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000303;
    height: 25px;
    width: 140px;
    border-radius: 5px;
    cursor: pointer;
}

#btn-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

#top-init:hover {
    background-color: #04857a;
    color: #fff;
}

#top-create {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000303;
    height: 25px;
    width: 140px;
    border-radius: 5px;
    cursor: pointer;
}

#top-create:hover {
    background-color: #04857a;
    color: #fff;
}

.list-all {
    text-align: center;
    display: none;
}

.btns-list-cad {
    justify-content: center;
    display: flex;
}